body {
			
    background-image: url(images/bgi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color: white;
    font-family: Copperplate, Papyrus, fantasy;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
}
h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}
#solar-system {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
button {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.197);
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: rgb(239, 238, 238);
    color: rgb(255, 254, 254);
}